@media only screen and (max-width: 576px) {

    // .main {
    //     >section {
    //         &:nth-child(1) {
    //             display: none;
    //         }

    //         &:nth-child(3) {
    //             display: none;
    //         }

    //         &:nth-child(5) {
    //             display: none;
    //         }

    //         &:nth-child(7) {
    //             display: none;
    //         }

    //         &:nth-child(9) {
    //             display: none;
    //         }

    //         &:nth-child(12) {
    //             display: none;
    //         }

    //         &:nth-child(14) {
    //             display: none;
    //         }

    //         &:nth-child(2) {
    //             display: block;
    //         }

    //         &:nth-child(4) {
    //             display: block;
    //         }

    //         &:nth-child(6) {
    //             display: block;
    //         }

    //         &:nth-child(8) {
    //             display: block;
    //         }

    //         &:nth-child(10) {
    //             display: none;
    //         }

    //         &:nth-child(13) {
    //             display: block;
    //         }

    //         &:nth-child(15) {
    //             display: block;
    //         }
    //     }
    // }

.today, .member, .list-content, .footer-pc {
    display: none;
    
}



    .banner {
        width: 100vw;
        height: 266px;
        padding: 0 2%;

        background: {
            image: url(./images/banner.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
    }

    .header-top-right {
        padding-top: 1px;

        .sign-in {
            color: #8bc34a;
            border-radius: 100px;
            border: 2px solid #8bc34a;
            letter-spacing: 1px;
        }
    }

    .logo {
        margin-top: 18px;

        img {
            width: 96px;
            height: 29px;
        }
    }

    .header-icon-box {
        margin-top: 20px;

        .header-icon {
            width: 100px;

            p,
            span {
                font-size: 18px;
                font-weight: lighter;
            }
        }
    }

    .text-header-mb {
        font-size: 9px;
    }

    .start-now {
        height: 40px;
        width: 144px;
        
        span {
            font-size: 14px;
            letter-spacing: 1.17px;
            line-height: 28px;
        }
    }

    .ti-icon-mb {
        font-size: 20px;
    }

    .today-mb {

        padding: 30px 0;

        .title {

            p {
                font-size: 24px;
            }

        }

        .italic-text {
            p {
                font-size: 13px;
            }
        }

        .image {
            img {
                height: 308px;
                width: 100%;
            }
        }

        .im {
            width: 100%;
        }
    }

    .box-shadow {
        box-shadow: 0 4px 8px #888888;
    }

    .text-member {

        height: 72px;
        overflow: hidden;
    }

    .our-customer {
        background-image: url(./images/our-customer-mb.png);
        padding: 0 2.5%;
    }

    .one-customer {
        padding: 0 3.1%;
    }

    .para-oc {
        font-size: 14px;
    }

    .set-ti-more {
        padding: 0 44.3%;
    }

    .footer-mb {
        margin: 0 -15px;
        padding: 24px 1.3%;
        background-color: #39474e;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 10px;
            letter-spacing: -0.02px;
        }

        p {
            color: #8bc34a;
            font-size: 12px;
        }

        img {
            margin-bottom: 25px;
            height: 24px;
            width: 96px;
        }
    }

    .brand-icon i {
        margin: 24px 0 0 0;
        margin-right: 21px;
        color: #8bc34a;
        font-size: 13px;
    }

    .copyright p {
        color: #ffffff;
        font-size: 10px;
    }
}

