@media only screen and (max-width: 768px) {
  footer,
.today,
.member,
.list-content-mb {
    display: none;
  }

  footer,
.today-mb,
.list-content {
    display: block;
  }

  .plr {
    padding: 0 30px;
  }

  .ti-color {
    font-size: 13px;
  }

  .ti-icon {
    font-size: 26px;
  }

  .banner {
    width: 100vw;
    height: 425px;
    background-image: url(./images/banner-tb.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .header-top-right {
    padding: 2% 2%;
  }
  .header-top-right .sign-in {
    color: #8bc34a;
    border-radius: 100px;
    border: 2px solid #8bc34a;
    letter-spacing: 1px;
  }

  .logo {
    margin-top: 30px;
  }
  .logo img {
    width: 144px;
    height: 43px;
  }

  .header-icon-box {
    margin-top: 30px;
  }
  .header-icon-box .header-icon {
    width: 100px;
  }
  .header-icon-box .header-icon p,
.header-icon-box .header-icon span {
    font-size: 24px;
    font-weight: lighter;
  }

  .start-now {
    height: 40px;
    width: 144px;
  }
  .start-now span {
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 28px;
  }

  .text-header-mb {
    font-size: 12px;
    padding-bottom: 15px;
  }

  .st-padding {
    padding-top: 30px;
  }
  .st-padding .start-now {
    height: 40px;
    width: 144px;
  }
  .st-padding .start-now span {
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 28px;
  }

  .today-mb {
    padding: 50px 15px;
  }
  .today-mb .title p {
    font-size: 36px;
  }
  .today-mb .italic-text p {
    font-size: 14px;
  }
  .today-mb .text-tb {
    font-size: 13px;
    line-height: 20px;
  }
  .today-mb .image img {
    height: 238px;
    width: 100%;
  }
  .today-mb .im {
    width: 100%;
  }

  .box-shadow {
    box-shadow: 0 4px 8px #888888;
  }

  .text-member {
    font-size: 13px;
    height: 60px;
    overflow: hidden;
  }

  .our-customer {
    background-image: url(./images/our-customer-mb.png);
    padding: 0 2%;
    repeat: no-repeat;
  }
  .our-customer .oc-title {
    font-size: 36px;
    letter-spacing: -0.09px;
    padding-top: 25px;
  }
  .our-customer .list-customer {
    padding: 0 2.5vw;
  }
  .our-customer .list-customer .one-customer {
    padding: 0 2.9%;
  }
  .our-customer .text-oc-block {
    padding: 0 5vw;
    height: 222px;
  }
  .our-customer .text-oc-block i {
    font-size: 62px;
  }
  .our-customer .text-oc-block p {
    padding: 0;
  }
  .our-customer .para-oc {
    font-size: 14px;
  }
  .our-customer .ti-quote-right {
    padding-top: 124px;
  }

  footer {
    padding: 38px 30px;
  }
}
@media only screen and (max-width: 576px) {
  footer,
.today,
.member,
.list-content,
.customer-mb {
    display: none;
  }

  .today-mb,
.list-content-mb,
.footer-mb {
    display: block;
  }

  .ti-color {
    font-size: 13px;
  }

  .ti-icon {
    font-size: 16px;
  }

  .banner {
    width: 100vw;
    height: 266px;
    padding: 0 2%;
    background-image: url(./images/banner-mb.png);
    background-size: cover;
  }

  .header-top-right {
    padding: 4% 2% 0 0;
  }
  .header-top-right .sign-in {
    font-size: 12px;
    color: #8bc34a;
    border-radius: 100px;
    border: 2px solid #8bc34a;
    letter-spacing: 1px;
  }
  .header-top-right .about-us {
    font-size: 12px;
  }

  .logo {
    margin-top: 0px;
  }
  .logo img {
    width: 96px;
    height: 29px;
  }

  .header-icon-box {
    margin-top: 17px;
  }
  .header-icon-box .header-icon {
    width: 100px;
  }
  .header-icon-box .header-icon p,
.header-icon-box .header-icon span {
    font-size: 18px;
    font-weight: lighter;
  }

  .st-padding {
    padding-top: 0;
  }
  .st-padding .start-now {
    height: 40px;
    width: 144px;
  }
  .st-padding .start-now span {
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 28px;
  }

  .text-header-mb {
    font-size: 12px;
    padding-bottom: 0px;
  }

  .st-padding {
    padding-top: 0px;
  }
  .st-padding .start-now {
    height: 40px;
    width: 144px;
  }
  .st-padding .start-now span {
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 28px;
  }

  .today-mb {
    padding: 25px 15px;
  }
  .today-mb .title p {
    font-size: 24px;
  }
  .today-mb .italic-text p {
    font-size: 13px;
  }
  .today-mb .text-tb {
    letter-spacing: 0.7px;
  }
  .today-mb .image img {
    height: 308px;
    width: 100%;
    margin-bottom: 20px;
  }
  .today-mb .im {
    width: 100%;
  }

  .carousel-indicators {
    margin-top: 15px;
  }

  .dot-mb {
    margin-bottom: 50px;
  }

  .box-shadow {
    box-shadow: 0 4px 8px #888888;
  }

  .text-member {
    height: 60px;
    overflow: hidden;
  }

  .our-customer {
    background-image: url(./images/our-customer-tb.png);
    padding: 0 2%;
    repeat: no-repeat;
  }
  .our-customer .oc-title {
    font-size: 24px;
    letter-spacing: -0.09px;
    padding-top: 25px;
  }
  .our-customer .list-customer {
    padding: 0 2.5vw;
  }
  .our-customer .list-customer .one-customer {
    padding: 0 4%;
  }
  .our-customer .text-oc-block {
    padding: 0 5vw;
    height: 272px;
  }
  .our-customer .text-oc-block i {
    font-size: 62px;
  }
  .our-customer .text-oc-block p {
    padding: 0;
  }
  .our-customer .para-oc {
    font-size: 14px;
  }
  .our-customer .ti-quote-right {
    padding-top: 180px;
  }

  .footer-mb {
    padding: 20px 15px;
    background-color: #39474e;
  }
  .footer-mb img {
    height: 19px;
    width: 91px;
  }
  .footer-mb .footer-header {
    padding-top: 20px;
  }
  .footer-mb .footer-header p {
    color: white;
    font-size: 12px;
    color: #8bc34a;
  }
  .footer-mb .footer-header a {
    color: white;
    font-size: 10px;
  }
  .footer-mb .footer-icon {
    width: 100px;
  }
  .footer-mb .footer-icon i {
    color: #8bc34a;
    font-size: 10px;
  }
  .footer-mb .footer-end {
    margin-top: 20px;
  }
  .footer-mb .footer-end a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    letter-spacing: -0.02;
  }
  .footer-mb .footer-end span {
    color: #8bc34a;
    font-size: 10px;
  }
}

/*# sourceMappingURL=reponsive.css.map */
